<header class="navbar" th:fragment="navbar(currentPath)">
    <a class="logo" href="/">
        <span class="kanji">言葉</span>
        <span class="brand">KOTOBA</span>
    </a>

    <nav>
        <ul class="nav-items">
            <li><a href="/learn" th:classappend="${currentPath == '/learn'} ? 'active'">Start Learning</a></li>
            <li><a href="/quiz" th:classappend="${currentPath == '/quiz'} ? 'active'">Random Quiz</a></li>
        </ul>
    </nav>

    <div id="account" class="account"></div>
</header>