<nav class="sidebar" th:fragment="sidebar(currentPath)">
    <a th:href="@{/learn}" th:classappend="${currentPath == '/learn'} ? 'active'">
        <span th:replace="fragments/icons/book"></span>
        <span>Learn</span>
    </a>
    <a th:href="@{/practice}" th:classappend="${currentPath == '/practice'} ? 'active'">
        <span th:replace="fragments/icons/dumbell"></span>
        <span>Practice</span>
    </a>
    <a th:href="@{/favourites}" th:classappend="${currentPath == '/favourites'} ? 'active'">
        <span th:replace="fragments/icons/hearts"></span>
        <span>Favourites</span>
    </a>
</nav>