<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" th:href="@{/icons/kotoba.jpeg}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/favourites.css}">
    <title>KOTOBA | My Favourites</title>
</head>
<body>
<header th:replace="fragments/navbar"></header>
<script type="module" th:src="@{/scripts/pages/favouritesPage.js}"></script>
<main>
    <nav th:replace="fragments/sidebar :: sidebar(${currentPath})"></nav>
    <section>
        <h1>Favourites</h1>
        <h2 class="subtitle">Click the <span>&hearts;</span> icon on a kanji to save it here for later.</h2>
        <div class="main-container container">
            <div id="loading">
                <div>
                    <div class="spinner"></div>
                    <p>Loading, please wait...</p>
                </div>
            </div>
            <div id="empty-state" class="hidden">
                <p>You haven’t added any kanji yet.</p>
                <a href="/learn">Browse kanji</a>
            </div>
            <div id="kanji-container" class="hidden">
                <div id="kanji-list"></div>
                <div id="actions">
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>