<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/icons/kotoba.jpeg}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/home.css}">
    <title>KOTOBA | HOME</title>
</head>
<body>
<header th:replace="fragments/navbar"></header>
<main>
    <section class="hero">
        <div class="hero-content">
            <div class="hero-left">
                <h1><span class="word-span">Master</span> <span class="word-span">Kanji,</span> <span class="word-span">Step</span>
                    <span class="word-span">by</span> <span class="word-span">Step</span></h1>
                <p class="fade-up delay">
                    Progress through 6 structured grades, learn kanji by units, test your knowledge,
                    and track your level with smart quizzes.
                </p>

                <form class="search-bar" id="search-bar" onsubmit="return false;">
                    <input id="search-input" placeholder="Search a kanji in English..." required type="text">
                    <button id="search-btn" type="submit">search</button>
                </form>

            </div>

            <div class="hero-right">
                <img alt="fox welcoming" class="mascot" id="mascot" th:src="@{/images/mascot/happy.png}">
            </div>

        </div>
    </section>


    <section class="actions">
        <a class="card" th:href="@{/signup}">
            <img alt="fox creating an account" th:src="@{/images/create_account.png}">
            <span>Create an account</span>
        </a>
        <a class="card" th:href="@{/learn}">
            <img alt="fox learning" th:src="@{/images/learn.png}">
            <span>Start learning</span>
        </a>
        <a class="card" th:href="@{/quiz}">
            <img alt="fox taking a quiz" th:src="@{/images/practice.png}">
            <span>Take a quiz</span>
        </a>
    </section>


    <section class="random-word-container">
        <h3>🌸 Word of the Day</h3>
        <div class="word-card box">
            <svg class="border">
                <rect height="100%" rx="12" ry="12" width="100%" x="0" y="0"/>
            </svg>
            <div>
                <h2 id="random-word">--</h2>
                <div class="word-details">
                    <p id="word-pronunciation">Loading...</p>
                    <p class="rotating-word" id="word-meaning">--</p>
                </div>
            </div>

        </div>
    </section>

</main>
<header th:replace="fragments/footer"></header>
<script th:src="@{/scripts/pages/homePage.js}" type="module"></script>
</body>
</html>