<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1, maximum-scale=1" name="viewport">
    <link rel="shortcut icon" th:href="@{/icons/kotoba.jpeg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/styles/signup_login.css}">
    <title>KOTOBA | LOGIN</title>
</head>
<body>

<main class="login-container">
    <a class="go-back" href="/" title="Go back to home">⬅</a>
    <div class="login-card">

        <!-- LEFT (IMAGE) -->
        <div class="login-left">
            <img alt="Signup illustration" th:src="@{/images/login.png}">
        </div>

        <!-- RIGHT (FORM) -->
        <div class="login-right">
            <h1>Login to Your Account</h1>
            <form method="post" th:action="@{/login}">
                <div class="fields">
                    <label for="username">User Name :</label>
                    <input id="username" name="username" placeholder="enter username..." required type="email">
                    <label for="password">Password :</label>
                    <input id="password" name="password" placeholder="enter password..." required type="password">
                </div>

                <div id="message" th:if="${param.error}">
                    Invalid username or password.
                </div>

                <button type="submit">Connect</button>
            </form>
        </div>

    </div>

    <div class="divider">
        <span>or</span>
    </div>

    <a class="google-btn" href="/oauth2/authorization/google">
        <img alt="google icon" th:src="@{/icons/google.png}">
        <span>Login with Google</span>
    </a>

    <p>You don't have an account ? <a class="redirect" href="/signup">Sign up</a></p>
</main>
</body>
</html>