<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/icons/kotoba.jpeg}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/profile.css}">
    <title>KOTOBA | Profile</title>
</head>
<body>
<header th:replace="fragments/navbar"></header>
<main>
    <div class="user-banner">
        <div id="user-info">
            <img src="" id="profile-picture" alt="profile picture">
            <div>
                <div id="username"></div>
                <p id="description"></p>
                <ul>
                    <li><strong>Member since: </strong><span id="date-joined"></span></li>
                    <li><strong>Current grade: </strong><span id="current-grade"></span></li>
                </ul>
            </div>
        </div>
        <div id="button-wrapper">
            <button id="edit-btn">Edit Profile</button>
        </div>
    </div>
    <div class="progress-info">
        <div th:replace="fragments/stats"></div>
        <div class="achievements">
            <h2>Achievements</h2>
            <div class="badges" id="achievements"></div>
        </div>
    </div>
</main>
<script type="module" th:src="@{/scripts/pages/profilePage.js}"></script>
</body>
</html>