<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1, maximum-scale=1" name="viewport">
    <link rel="shortcut icon" th:href="@{/icons/kotoba.jpeg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/styles/signup_login.css}">
    <title>KOTOBA | SIGN UP</title>
</head>
<body>
<main class="signup-container">
    <a class="go-back" href="/" title="Go back to home">⬅</a>
    <div class="signup-card">
        <!-- LEFT (FORM) -->
        <div class="signup-left">
            <h1>Create an Account</h1>
            <form>
                <div class="fields">

                    <label for="email">Email</label>
                    <input id="email" placeholder="Enter your email..." required type="email">

                    <label for="username">Username</label>
                    <input id="username" placeholder="Choose a username..." required type="text">

                    <label for="password1">Password</label>
                    <input id="password1" placeholder="Enter password..." required type="password">

                    <label for="password2">Confirm Password</label>
                    <input id="password2" placeholder="Confirm password..." required type="password">

                </div>

                <div id="message"></div>

                <button type="submit">Create Account</button>
            </form>
        </div>

        <!-- RIGHT (IMAGE) -->
        <div class="signup-right">
            <img alt="Signup illustration" th:src="@{/images/signup.png}">
        </div>

    </div>

    <div class="divider">
        <span>or</span>
    </div>

    <a class="google-btn" href="/oauth2/authorization/google">
        <img alt="google icon" th:src="@{/icons/google.png}">
        <span>Sign up with Google</span>
    </a>

    <p>You already have an account ? <a class="redirect" href="/login">Login</a></p>
</main>
<script th:src="@{/scripts/pages/signupPage.js}" type="module"></script>
</body>
</html>