<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/icons/kotoba.jpeg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/styles/error.css}">
    <title>Oops! Something Went Wrong</title>
</head>
<body>
<main>
    <div class="error-container">
        <img th:src="@{/images/verySadCat.png}" alt="Error Icon">
        <div class="error-title">Oh no! Something went wrong.</div>
        <p class="error-details">
            <strong>Error Code:</strong> <span th:text="${status}"></span><br>
            <strong>Error :</strong> <span th:text="${error}"></span><br>
            <strong>Message:</strong> <span th:text="${message}"></span>
        </p>
        <a href="/" class="action-button">Go Back to Home</a>
        <small>If the problem persists, please contact support.</small>
    </div>
</main>
</body>
</html>