@import url("shared.css");

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    gap: 3em;
}
header {
    width: 60%;
    background-color: var(--light-pink);
    box-shadow: 0 10px 15px 0 hsla(0, 0%, 0%, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px 30px;
    border: var(--dashed-pink-border);

    .progress {
        width:clamp(8em, 40%, 15em);
    }
}

h1 {
    font-size: clamp(1.3em, 4vw, 1.7em);
    text-align: center;
    margin-bottom: 1em;
}
h2 {
    color: var(--grey);
    font-size: 1em;
}
