@import url("shared.css");

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

header {
    position: relative;
    width: clamp(200px, 50%, 600px);
    background-color: var(--light-pink);
    box-shadow: 0 10px 15px 0 hsla(0, 0%, 0%, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px 30px;
    border: var(--dashed-pink-border);

}

section {
    transition: 0.2s;
}

section:not(#answer) {
    width: clamp(250px, 80%, 50em);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(0.7em, 2vw, 2em) clamp(0.5em, 1vw, 1em);

    &#options {
        width: 70%;
        justify-self: center;
        padding: 2em;

        div:hover {
            box-shadow: 0 0 10px 5px #00000052;
            cursor: pointer;
        }

        .selected {
            background-color: var(--yellow);
        }

        .red {
            background-color: color-mix(in srgb, var(--red) 70%, white);
        }

        .green {
            background-color: color-mix(in srgb, var(--green) 40%, white);
        }
    }
}

#start {
    background-color: white;

    div {
        background-color: var(--very-light-yellow);
        padding: 2em;
        border-radius: 10px;
        width: clamp(150px, 70%, 600px);
        border: var(--solid-pink-border);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    span {
        font-size: clamp(2em, 4vw, 2.5em);
        font-family: var(--title-font);
    }

    #start-btn {
        background-color: var(--very-light-pink);
        color: var(--red);
        border: var(--dashed-pink-border);
        margin-top: 3em;

        &:hover {
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
            background-color: var(--light-pink);
        }
    }
}

#answer input {
    width: auto;
    margin: 5em;
}


h1 {
    font-size: clamp(1.3em, 4vw, 1.7em);
    text-align: center;
    margin: 0;
}

h2 {
    color: var(--grey);
    font-size: 1em;
    margin: 0.5em;
}

.audio-symbol {
    cursor: pointer;
    margin-right: 5px;

    img {
        width: 1em;
        vertical-align: sub;
    }
}

video {
    width: calc(clamp(100px, 30vw, 300px) + 2em);
    border: var(--dashed-pink-border);
    border-radius: 10px;
}

footer {
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr;

    button {
        background-color: var(--saturated-yellow);
        box-shadow: 5px 5px 5px 0 hsla(0, 0%, 0%, 0.2);
        color: var(--grey);
        font-size: 1em;

        &:first-child {
            grid-column: -4;
        }

        &:last-child {
            grid-column: -1;
        }

        &:hover {
            opacity: 0.9;
        }

        &.test {
            background-color: var(--pink);
            color: var(--red);
            border-color: var(--red);
        }

        &.check {
            background-color: var(--red);
            opacity: 0.7;
            color: var(--whitesh-pink);
        }
    }
}

.heart {
    position: absolute;
    right: 10px;
    top: -10px;
    font-size: 40px;
    cursor: pointer;
    color: var(--light-grey);

    &.active {
        color: var(--red);
    }
}

#test-content {
    text-align: center;
}

#question-result {

    span {
        animation: fadeInUp 0.4s ease;
    }

    .correct {
        color: var(--green);
    }

    .wrong {
        color: var(--red);
    }

    #xp {
        color: var(--saturated-pink);
    }

    img {
        width: clamp(70px, 30vw, 200px);
        animation: fadeInUp 0.4s ease;
    }
}

.progress {
    width: 90%;
    min-height: 15px;
    box-shadow: 0 5px 10px 0 #00000030;
}

/* Test Result */
#test-result {
    --color: var(--grey);
    width: clamp(200px, 70%, 800px);
    min-height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 6px solid var(--color);
    border-radius: 20px;
    background: white;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    animation: fadeInUp 0.4s ease;

    h2 {
        color: var(--color);
        font-family: var(--title-font);
        font-size: clamp(1.5em, 5vw, 2em);
        margin: 0 0 1em 0;
    }

    &.passed {
        border-top: 6px solid var(--yellow);

        h2 {
            color: var(--saturated-yellow);
        }

        .result-right {
            background-color: var(--whitesh-yellow);

            img {
                animation: float 3s ease-in-out infinite;
            }
        }
    }

    &.failed {
        border-top: 6px solid var(--light-pink);

        h2 {
            color: var(--pink);
        }

        .result-right {
            background-color: var(--whitesh-pink);
        }
    }

    &.level {
        .result-right img {
            animation: float 3s ease-in-out infinite;
        }
    }

    .result-left {
        flex: 2;
        text-align: center;
        padding: 2em;
    }

    .result-right {
        height: stretch;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color-mix(in srgb, var(--color) 20%, white);
        padding: 1em;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 17px;
    }

    .scores {
        display: flex;
        justify-content: center;
        gap: 2em;
        margin-bottom: 2em;

        p {
            margin-bottom: 0;
        }

        span {
            font-size: 1.5em;
            font-weight: bold;
            display: block;
        }
    }

    .required, .errors {
        color: var(--red);
    }

    .correct-answers {
        color: forestgreen;
    }

    img {
        width: clamp(70px, 20vw, 200px);
    }

    a {
        display: inline-block;
        background-color: var(--saturated-yellow);
        padding: 0.7em 2em;
        margin-top: 2em;
        border-radius: 10px;
        color: var(--red);
        box-shadow: 0 5px 10px 0 #00000030;
        transition: 0.2s;

        &:hover {
            background-color: var(--red);
            color: var(--saturated-yellow);
        }
    }
}

@media screen and (max-width: 700px) {
    #test-result {
        flex-direction: column;
    }

    .result-right {
        background-color: transparent !important;
    }
}