@import url("shared.css");

/* CONTAINER */
.signup-container, .login-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #fff0f5, #fff8dc);
}

/* CARD */
.signup-card, .login-card {
    display: flex;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

/* FORM */
.signup-left, .login-right {
    flex: 1;
    padding: 2em;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        border: 1px solid #ddd;

        &:focus {
            outline: none;
            box-shadow: 0 0 8px rgba(255, 182, 193, 0.6);
        }
    }
}

/* BUTTON */
button {
    width: 100%;
    margin-top: 2em;
}

/* IMAGE */
.signup-right, .login-left {
    flex: 1;
    background: var(--whitesh-pink);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 80%;
        animation: float 3s ease-in-out infinite;
    }
}


/* DIVIDER */
.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.divider span {
    padding: 0 10px;
}

/* GOOGLE BUTTON */
.google-btn {
    display: flex;
    font-weight: bold;
    padding: 0.5em 5em;
    border-radius: 10px;
    border: var(--dashed-pink-border);
    background-color: var(--light-pink);
    color: var(--normal-font-color);
    box-shadow: 5px 5px 10px 4px hsla(217, 19%, 35%, 0.1);
    transition: 0.2s;

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 1.5em;
        margin-right: 0.5em;
    }

}

/* REDIRECT */
.redirect:hover {
    text-decoration: underline;
}

/* ERROR MESSAGE */
#message {
    margin-top: 1em;
    text-align: center;
    color: var(--red);
}

/* ON SMALL SCREENS */
@media (max-width: 600px) {
    .signup-right, .login-left {
        display: none;
    }
}
